
.wrapper {
  background-color: rgb(223, 223, 227);
}

.wrapper > *:first-child {
  margin-top: 0;
}


.block {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;

}

.block > *:first-child {
  margin-top: 0;
}

.text {
  width: 100%;
  margin: 0;
}

.link {
  display: inline-block;
  margin-top: 10px;
}
